<h1>Posts</h1>
<div class="row">

  <div class="col-md-6">
    <spinner [visible]="isLoading" ></spinner>
    <ul class="list-group posts">
      <li *ngFor="#post of posts"
        (click)="selectPost(post)"
        [class.active]="currentPost == post"
        class="list-group-item">
        {{ post.title }}
      </li>
    </ul>
  </div> <!-- master div -->

  <div class="col-md-6">
    <div *ngIf="currentPost" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ currentPost.title }}</h3>
      </div>
      <div class="panel-body">
        <p>{{ currentPost.body }}</p>

        <hr/>

        <div *ngFor="#comment of currentPost.comments" class="media">
          <div class="media-left">
            <a href="mailto:{{ comment.email }}">
              <img class="media-object thumbnail"
                src="http://lorempixel.com/80/80/people?random={{ comment.id }}"
                alt="Send E-Mail">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ comment.name }}</h4>
            {{ comment.body }}
          </div>
        </div> <!-- selected post comments -->

      </div> <!-- pannel-body -->
    </div> <!-- main pannel -->

  </div> <!-- detail div -->

</div>
