<form [ngFormModel]="form" (ngSubmit)="changePassword()">
  <h2>Change Password</h2>
  <div class="form-group">
    <label for="current">Current Password</label>
    <input required
      ngControl="current" #current="ngForm"
      id="current" type="password" class="form-control">
    <br/>

    <!-- <div *ngIf="current.control.pending">
      Checking current password...
    </div> -->

    <div *ngIf="current.touched && current.errors">
      <div
        *ngIf="current.errors.required"
        class="alert alert-danger">
        Current password is required.
      </div>
      <div
        *ngIf="current.errors.wrongCurrentPassword"
        class="alert alert-danger">
        Current password does not match.
      </div>
    </div>

    <label for="newPassword">New Password</label>
    <input required minlength="5"
      ngControl="newPassword" #newPassword="ngForm"
      id="newPassword" type="password" class="form-control">
    <br/>

    <div *ngIf="newPassword.touched && newPassword.errors">
      <div
        *ngIf="newPassword.errors.required"
        class="alert alert-danger">
        New password is required.
      </div>
      <div class="alert alert-danger"
        *ngIf="newPassword.errors.minlength">
        New password should be minimum {{ newPassword.errors.minlength.requiredLength }} characters.
      </div>
      <div
        *ngIf="newPassword.errors.cannotContainSpace"
        class="alert alert-danger">
        New password cannot contain spaces.
      </div>
    </div>

    <div *ngIf="!newPassword.errors && form.errors">
      <div
        *ngIf="form.errors.newPasswordDifferent"
        class="alert alert-danger">
        New password must be different from current.
      </div>
    </div>

    <label for="confirmPassword">Confirm Password</label>
    <input required
      ngControl="confirmPassword" #confirmPassword="ngForm"
      id="confirmPassword" type="password" class="form-control">

    <div *ngIf="!newPassword.errors && confirmPassword.touched && confirmPassword.errors">
      <div
        *ngIf="confirmPassword.errors.required"
        class="alert alert-danger">
        Confirm password is required.
      </div>
    </div>

    <div *ngIf="!confirmPassword.errors && form.errors">
      <div
        *ngIf="form.errors.confirmPasswordMatches"
        class="alert alert-danger">
        Confirm password and New password do not match.
      </div>
    </div>

  </div>
  <button
    [disabled]="!form.valid"
    class="btn btn-primary" type="submit">
    Change Password
  </button>
</form>
