<div *ngIf="isLoadingGithub">
  <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
</div>
<div *ngIf="!isLoadingGithub">
  <h3>
    @{{ userInfo.login }}
  </h3>
  <img class="avatar" src="{{ userInfo.avatar_url }}" alt="avatar" />
  <br/>
  <br/>
  <h3>Followers</h3>
  <div class="media" *ngFor="#follower of userFollowers">
    <div class="media-left">
      <img class="media-object avatar" src="{{ follower.avatar_url }}" alt="avatar" />
    </div>
    <div class="media-body">
      <h4>{{ follower.login }}</h4>
    </div>
  </div>
</div>
